[Unit]
Description=Node.js Example App

[Service]
ExecStart=/usr/bin/node /var/www/nodeapp
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/nodeapp

[Install]
WantedBy=multi-user.target
